.navbar-top-fixed
.navbar-inverse {
  background-color: transparent;
    margin-bottom: 0px;
 background-color: transparent;
    /* border-color: #080808; */
    margin-bottom: 0px;
}
.row {
    margin-top: 30px;
    margin-right: -15px;
    margin-left: -15px;
}

.education {
	font-family: cursive;
	color: rgba(70, 25, 6, 0.9);
    font-size: 30px;
    padding-bottom: 50px;
}

.experience {
     font-family: fantasy;
    font-weight: bold;
    font-size: 40px;
    color: black;
     width: auto;
    height: auto;
}
.sticky {
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 39px;
    padding-right: 40px;
    margin-right: 10px;
    font-family: cursive;
    font-size: 18px;
    background-color: #FCE17F;
    -ms-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    width: auto;
    height: auto;
}
.stickyexp {
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
     font-family: fantasy;
    font-weight: bold;
    font-size: 32px;
    color: black;
    background-color: #E0DDCE;
    -ms-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    width: auto;
    height: auto;
}
.backgroundImage {
	margin-top: 70px;
	height: 450px;
	background-size: 100%;
	background-repeat:no-repeat;
	 background-image: url('../../assets/images/about.png')
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:rgba(84, 104, 117, 0.26);
   margin-bottom: 30px;
}
.level{
    margin-right: 10px;
    height: 15px;
    background-color: rgb(41, 102, 132);
    float: left;
}

.tableheader{
	font-size: large;
}

.level.basic{
    width: 80px;
}
.level.familiar{
    width: 40px;
}
.level.intermediate{
    width: 120px;
}
.level.expert{
    width: 160px;
}
.sContainer{
   background-color: #1FA4B6;
   padding-bottom:80px;
   padding-top:80px;
   padding-left:30px;
   padding-right:30px;

}


.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
 padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
 background-color: #92603F;
 color: #fff;
    width: auto;
    height: auto;
  visibility: hidden;
  opacity: 0;
  /*background-image: url('../../assets/images/skills.jpeg') */
}


.stickyexp:hover .imgDescription {
    padding-left: 0px;
  visibility: visible;
  opacity: 1;

}
.col4{
    padding-left: 20px;
    padding-top: 20px;
    border-left: 3px solid #635E5E;
    padding-bottom: 20px;
    padding-right: 20px;"
    max-width:360px
}