<div class="content-container">
	<h1 class='text-center'> Certifications </h1>
	<div class="jumbotron container-fluid" style="width:1000px;background-color:#669999;height:600px" >
		<form name='first' ng-controller="RegisterCtrl" class="my-form">

			<div class="form-group" style="float:left;width:400px" >
				<h3>Certification 1</h3>
				<div class="ng-scope">
					<label>Certification Name *</label>
					<input type="text" class="form-control" name="certificationname" id="certificationname" placeholder="Certification Name" ng-model="userInfo.certification['first'].certificationName" required>
				</div>
			<!-- 	<div>
					<label >Certification Authority</label>
					<select name="degree" class="form-control" ng-model="userInfo.certification['first'].degree">
						
						<option value="Master's">Master's</option> 
						<option value="Bachelor's">Bachelor's</option>
					</select>
				</div> -->

				<div>
					<label >Certification Authority</label>
					<input type="text" class="form-control" name="authroity" id="authroity" placeholder="Certification Authority" ng-model="userInfo.certification['first'].authroity" >
				</div>
				<div>
					<label >Dates</label>
					<br>From
					<input type="date" class="form-control" name="from" id="from"  ng-model="userInfo.certification['first'].from" >
					To
					<input type="date" class="form-control" name="to" id="to"  ng-model="userInfo.certification['first'].to" >
				</div>
				<div>
					<label >Certification URL</label>
					<input type="text" class="form-control" name="url" id="url" placeholder="Certification URL" ng-model="userInfo.certification['first'].url" >
				</div>
				<br>
				<div class="text-center"> 
					<button type="submit" style="background-color:#333300" class="btn btn-primary" class="text-center" ng-click='updateProfile("certification")' ng-disabled='first.$invalid' >Update</button>
				</div>
			</div>
		</form>
		<form name='second' ng-controller="RegisterCtrl" class="my-form">
			<div class="form-group" style="float:right;width:400px">
				<h3>Certification 2</h3>
				<div class="ng-scope">
					<label>Certification Name *</label>
					<input type="text" class="form-control" name="certificationname" id="certificationname" placeholder="Certification Name" ng-model="userInfo.certification['second'].certificationName" required>
				</div>
				<!-- <div>
					<label >Degree</label>
					<input type="text" class="form-control" name="degree" id="degree" placeholder="Degree" ng-model="userInfo.certification['second'].degree" >
				</div> -->
				<div>
					<label >Certification Authority</label>
					<input type="text" class="form-control" name="authroity" id="authroity" placeholder="Certification Authority" ng-model="userInfo.certification['second'].authroity" >
				</div>
				<div>
					<label >Dates</label>
					<br>From
					<input type="date" class="form-control" name="from" id="from"  ng-model="userInfo.certification['second'].from" >
					To
					<input type="date" class="form-control" name="to" id="to"  ng-model="userInfo.certification['second'].to" >
				</div>
				<div>
					<label >Certification URL</label>
					<input type="text" class="form-control" name="url" id="url" placeholder="Certification URL" ng-model="userInfo.certification['second'].url" >
				</div>
				<br>
				<div class="text-center"> 
					<button type="submit" style="background-color:#333300" class="btn btn-primary" class="text-center" ng-click='updateProfile("certification")' ng-disabled='second.$invalid' >Update</button>
				</div>

			</div>	
		</form>
	</div>
</div>
{{userInfo}}
