<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
			<ul class="nav navbar-nav navbar-inverse navbar-right">
                   <!--  <li class="hidden">
                        <a href="#page-top"></a>
                    </li> -->
                    
                    <li>
                    	<a class="page-scroll" href="#home"><span class="glyphicon glyphicon-home"></span> Home </a>
                    </li>
                    <li>
                    	<a class="page-scroll" href="#Statistics"><span class="glyphicon glyphicon-stats"></span> About Me</a>
                    </li>
                    <li>
                    	<a class="page-scroll" href="#portfolio"> <span class="glyphicon glyphicon-gift"></span> Education </a>
                    </li>
                    <li>
                    	<a class="page-scroll" href="#Ending"><span class="glyphicon glyphicon-globe"></span> Experience </a>
                    </li>
                    <li>
                    	<a class="page-scroll" href="/homelessFacts"> <span class="glyphicon glyphicon-zoom-out"></span> Projects </a>
                    </li>
                    <li>
                    	<a class="page-scroll" href="#Volunteer"><span class="glyphicon glyphicon-link"></span> Skills </a>
                    </li>
                    <li>
                    	<a class="page-scroll" href="#donate"><span class="glyphicon glyphicon-usd"></span> Contact </a>
                    </li>
                </ul>


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>


