<div class="content-container">
    <h1 class='text-center'> Personal Information </h1>
    <div class="jumbotron container-fluid" style="width:800px;background-color:#669999">
        <form name='personalinfo' ng-controller="RegisterCtrl" class="my-form">

            <div class="form-group">

      
                    <div>
                    <label >Level</label>
                    <select name="degree" class="form-control" ng-model="userInfo.programmingSkills.level">
                        <!-- not selected / blank option -->
                        <option value="Expert">Expert</option> <!-- interpolation -->
                        <option value="Proficient">Proficient</option>
                         <option value="Working Knowledge">Working Knowledge</option>
                         <option value="Basics">Basics</option>
                    </select>
                </div>
                    <div>
                    <label >Skills</label>
                    <input type="text" class="form-control" name="emailid" id="emailid" placeholder="separeted by comma" ng-model="userInfo.programmingSkills.level"> 
                <!--    <textarea class="form-control" name="emailid" id="emailid" placeholder="Address" ng-model="userInfo.personalInformation.address" > </textarea> -->
                </div>
            </div>
            <br>
            <div class="text-center"> 
                <button type="submit" style="background-color:#333300" class="btn btn-primary" class="text-center" ng-click='updateProfile("programmingSkills")' ng-disabled='personalinfo.$invalid' >Update</button>
            </div>
        </form>
    </div>
</div>
<!-- {{userInfo}} -->