 <div class="container ">
 <div class="col-lg-20">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div  >
                <div class="col-lg-6" style="padding-top:80px;padding-left:30px;max-width:360px;">
                   <ul style="list-style-type: square;" class="sticky">
                       <li style="padding-bottom: 20px;"  ng-bind-html="userInfo.summary.aboutme[0]"></li>
                       <li style="padding-bottom: 20px;"  ng-bind-html="userInfo.summary.aboutme[1]"></li>

                   </ul>
                </div>
                 <div class="col-lg-6" style="padding-top:80px;padding-left:40px;max-width:360px;">
                   <ul style="list-style-type: square;" class="sticky">
                       <li style="padding-bottom: 20px;"  ng-bind-html="userInfo.summary.aboutme[2]"></li>
                       <li style="padding-bottom: 20px;" ng-bind-html="userInfo.summary.aboutme[3]"></li>
                       

                   </ul>
                </div>
                 <div class="col-lg-6" style="padding-top:80px;padding-left:50px;max-width:360px;">
                   <ul style="list-style-type: square;" class="sticky">
                       <li style="padding-bottom: 20px;" ng-bind-html="userInfo.summary.aboutme[4]"></li>
                       <li  style="padding-bottom: 20px;" ng-bind-html="userInfo.summary.aboutme[5]"></li>
                   </ul>
                </div>
              <!--   <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div> -->
               <!--  <div class="row" >
                <ul class="col-lg-4" ng-repeat="item in userInfo.summary.description track by $index">
                       <b class="sticky" style="font-size:18px"> <li>{{item}}</li></b>
                        </ul>
                </div> -->
            </div>
                        
                        </div>
        </div>