<div class="container">
 <div class="row">
  <div class="col-lg-12 text-center">
    <h2>Courses</h2>
    <hr class="headlinghr">
  </div>
</div>
<div class="jumbotron container" style="min-height:500px;" >
                <div class="col-md-3 certificate">
                <p><strong>{{userInfo.certification.first.certificationName}}</strong></p>
                <p><i>{{userInfo.certification.first.authroity}}</i></p>
                <p><a href="{{userInfo.certification.first.url}}" target="_blank">Certificate</a></p>
              
                </div>
                 <div class="col-md-3 certificate"  >
                <p> <strong>{{userInfo.certification.second.certificationName}}</strong></p>
                <p><i>{{userInfo.certification.second.authroity}}</p></i>
                <p><a href="{{userInfo.certification.second.url}}" target="_blank">Certificate</a></p>
                </div>
                 <div class="col-md-3 certificate">
                  <p><strong>Web Application Architectures</strong></p>
                <p><i>Coursera</i></p>
                <p><a href="https://www.dropbox.com/s/u5i1d935l7rt9ev/Coursera%20webapplications%202015.pdf?dl=0" target="_blank">Certificate</a></p>
                </div>
                  <div class="col-md-3 certificate">
                  <p><strong>Programming for Everybody (Python)</strong></p>
                <p><i>Coursera</i></p>
                <p><a href="https://www.dropbox.com/s/l8vv2j81ra6dr34/Coursera%20pythonlearn%202015.pdf?dl=0" target="_blank">Certificate</a></p>
                </div>
               <!--  <iframe src="http://docs.google.com/gview?url=http://example.com/mypdf.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe> -->
              <!--   <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div> -->
               <!--  <div class="row" >
                <ul class="col-lg-4" ng-repeat="item in userInfo.summary.description track by $index">
                       <b class="sticky" style="font-size:18px"> <li>{{item}}</li></b>
                        </ul>
                </div> -->
            </div>

</div>




