 <div class="container" >
  <div class="row">
   <div class="col-lg-12 text-center">
    <h2>Contact</h2>
    <hr class="star-primary">
</div>
</div>

<div class="jumbotron container-fluid col-xs-7" style="float: none;" >
    <form name='contactForm' class="my-form ">

        <div class="form-group">


            <input type="text" class="form-control input-lg" placeholder="Name" id="name" required >
        </div>
        <div class="form-group">


            <input type="email" class="form-control input-lg" placeholder="Email Address" id="email" required >

        </div>
        <div class="form-group ">

            <input type="tel" class="form-control input-lg" placeholder="Phone Number" id="phone" required >
        </div>
        <div class="form-group ">
            <textarea rows="3" class="form-control input-lg" placeholder="Message" id="message" required ></textarea>

        </div>
        <div class="text-center ">
        <button type="submit" ng-disabled='contactForm.$invalid' class="btn btn-primary btn-lg" style="background-color: #1FA4B6;">Submit</button>

        </form>
    </div>
</div>

