
<div class="container ">
 <div class="row">
  <div class="col-lg-12 text-center">
    <h2>Experience</h2>
    <hr class="headlinghr">
  </div>
</div>
<div class="container sContainer" >
  <div class="col-lg-4 stickyexp" >
   <center> <img   src="assets/images/pin.png"  alt=""></center>

 <p><strong>{{userInfo.experience.first.companyName}}</strong>
        <h4><i>{{userInfo.experience.first.position}}</i></h4>
<i>{{userInfo.experience.first.from}} - Present</i></p>
<hr style="border:1px solid black;">
       <b>Technologies Used -</b>
<ol>
  <li>MarkLogic (NoSQL Database)</li>
  <li>Node.js Expree Framework</li>
   <li>AangularJs</li>
</ol>
       <div class="imgDescription">
       <center> <img   src="assets/images/pin.png"  alt="" style="padding-left: 30px"></center>
   <center> <b>Responsibilities </b> </center>
       <ul style="list-style-type: square">

         <li style="padding-top: 10px;">{{userInfo.experience.first.responsibilities[0]}} </li>
         <li style="padding-top: 10px;">{{userInfo.experience.first.responsibilities[1]}} </li>
       </ul>
     </div>

 </div>
 <div class="col-lg-4 stickyexp" >
 <center> <img   src="assets/images/pin.png"  alt=""></center>

 <p><strong>{{userInfo.experience.second.companyName}}</strong>
        <h4><i>{{userInfo.experience.second.position}}</i></h4>
<i>{{userInfo.experience.second.from}} - {{userInfo.experience.second.to}}</i></p>
<hr style="border:1px solid black;">
       <b>Technologies Used -</b>
<ol>
  <li>BSCS Billing and Rating System</li>
  <li>Oracle 10g</li>
   <li>PL/SQL</li>
   <li>Java</li>
</ol>
        <div class="imgDescription ">
            <center> <img   src="assets/images/pin.png"  alt="" style="padding-left: 30px;"></center>
   <center> <b>Responsibilities </b> </center>
     <ul style="list-style-type: square">

       <li style="padding-top: 20px;">{{userInfo.experience.second.responsibilities[0]}} </li>
       <li style="padding-top: 20px;">{{userInfo.experience.second.responsibilities[1]}} </li>
     </ul>
   </div>
   </div>
<div class="col-lg-4 stickyexp" >
 <center> <img   src="assets/images/pin.png"  alt=""></center>

 <p><strong>{{userInfo.experience.third.companyName}}</strong>
        <h4><i>{{userInfo.experience.third.position}}</i></h4>
<i>{{userInfo.experience.third.from}} - {{userInfo.experience.third.to}}</i></p>
<hr style="border:1px solid black;">
       <b>Technologies Used -</b>
   
<ol>
  <li>Network Security</li>
  <li>AES Cryptography</li>
</ol>
     <div class="imgDescription">
      <center> <img   src="assets/images/pin.png" style="padding-left: 30px" alt=""></center>
        <center> <b>Responsibilities </b> </center>
       <ul style="list-style-type: square">

         <li style="padding-top: 10px;">{{userInfo.experience.third.responsibilities[0]}} </li>
         <li style="padding-top: 10px;">{{userInfo.experience.third.responsibilities[1]}} </li>
       </ul>
     </div>

</div>
</div>
</div>
