
<div class="modal-header">
	<h3 class="modal-title title-modal">4.0 Pointer Game
		<button type="button" class="btn btn-default pull-right" ng-click="cancel()"><i class="fa fa-times"></i></button></h3>

	</div>
	<div class="modal-body project">
		<h3>Project Description - </h3>

		<p><ul style="list-style-type:square"><li>Designed and Developed Scrum question game similar to "Who Wants to Be a Millionaire?" using Green Foot APIs.

			<li>Design patterns implemented by team – State, Adapter, Observer, Iterator, Factory, Singleton.
			</li>

			<li>performed unit testing using JUnit framework</li>

			<li>Implemented State and Observer design patterns for different levels in the game and also worked on testing part</li>
			<li>Implemented Agile Scrum methodology to create sprint plan with user stories, task board and burn down chart.</li>
			<li><b>Technologies:</b> Agile/Scrum Methodology, Java, Design Patterns, Astah Professional, Greenfoot APIs.</li></ul></p>

		</div>

		<div class="modal-footer project">
			<a class="pull-left" href='https://www.youtube.com/watch?v=UOT-uoGR5x8'>Demo URL </a>  
			<a href=''>Code URL </a>     
		</div>
