   <div class="modal-header">
    <h3 class="modal-title title-modal ">eBay - Online Market Place 

        <button type="button" class="btn btn-default pull-right" ng-click="cancel()"><i class="fa fa-times"></i></button></h3>

    </div>
    <div class="modal-body project">
   <h3><b>Project Description </b></h3>

       <p><ul style="list-style-type:square"><li>Designed a 3-tier web application (REST APIs) with basic functionalities of online market system exactly similar to eBay.</li>

        <li>Functionality - Log in session handling,Buyer/Seller, Auction/Bidding, CRUD operations on users and products.</li>

        <li>Performance Tuning Techniques - Connection Pooling, SQL and Object Caching (Redis Cache),
           Data Denormalisation, Prepared statements.</li>

           <li>Performed Server-Side and Client-Side validations for duplicate user,strong password,zip code pattern.</li>

           </ul></p>

<h3><b>Technologies & Tools </b></h3>
<div class="jumbotron" style="padding:20px">
      Javascript, HTML5, CSS, BootStrap, AJAX, JQuery, Node.js, MySQL, Redis, JMeter and Mocha.      
</div>
       </div>


       <div class="modal-footer project-footer">
        <a class="pull-left" href='http://ec2-52-24-251-244.us-west-2.compute.amazonaws.com:3000/'> <i class="fa fa-laptop"></i> Demo URL </a>  
        <a href=''> <i class="fa fa-fw fa-github"></i>Code URL </a>     
    </div>