   
        <div id="portfolio" class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="headlinghr">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a ng-click="open('project1')" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                                <h3> Online Market Place</h3>
                            </div>
                        </div>
                        <img src="assets/images/ebay.gif" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a ng-click="open('project2')"class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                               <h3> Homeless Analysis in California</h3>
                            </div>
                        </div>
                        <img src="assets/images/homeless.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a ng-click="open('project3')" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                                 <h3> Who wants to be 4.0 pointer?</h3>
                            </div>
                        </div>
                        <img src="assets/images/pointer.png" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a ng-click="open('project4')" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                                 <h3> Online Book Store</h3>
                            </div>
                        </div>
                        <img src="assets/images/bookstore.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a ng-click="open('project5')" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <img src="assets/images/ebay.gif"class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a ng-click="open('project6')" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <img src="assets/images/ebay.gif" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>


<div >
    <script type="text/ng-template" id="project1.html">
 <div ng-include="'app/preview/partials/project1.html'" ></div>
    </script>

    <script type="text/ng-template" id="project2.html">
 <div ng-include="'app/preview/partials/project2.html'" ></div>
    </script>

    <script type="text/ng-template" id="project3.html">
 <div ng-include="'app/preview/partials/project3.html'" ></div>
    </script>

    <script type="text/ng-template" id="project4.html">
 <div ng-include="'app/preview/partials/project3.html'" ></div>
    </script>

    <script type="text/ng-template" id="project5.html">
 <div ng-include="'app/preview/partials/project3.html'" ></div>
    </script>

    <script type="text/ng-template" id="project6.html">
 <div ng-include="'app/preview/partials/project3.html'" ></div>
    </script>
</div>

