<div class="container">
   <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-primary">
    </div>
</div>
<div class="row">
  <div class="col-lg-5 col-sm-6">


      <table class="table table-striped">
        <thead>
          <tr class="tableheader">
            <th>Launguages</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Java</td>
        <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
    </tr>
    <tr>
        <td>JSP</td>
        <td><div class="level basic"></div><p1>Basic</p1></td>
    </tr>
    <tr>
        <td>Servlets</td>
        <td><div class="level basic"></div><p1>Basic</p1></td>
    </tr>
    <tr>
        <td>Node.js</td>
        <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
    </tr>
    <tr>
        <td>JavaScript</td>
        <td><div class="level expert"></div><p1>Advanced</p1></td>
    </tr>
    <tr>
        <td>HTML</td>
        <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
    </tr>
    <tr>
        <td>CSS</td>
        <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
    </tr>
    <tr>
        <td>jQuery</td>
        <td><div class="level basic"></div><p1>Basic</p1></td>
    </tr>
    <tr>
        <td>PL/SQL</td>
        <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
    </tr>
    
    <tr>
        <td>Shell Scripting</td>
        <td><div class="level basic"></div><p1>Basic</p1></td>
    </tr>
    <tr>
        <td>Python</td>
        <td><div class="level familiar"></div><p1>Familiar</p1></td>
    </tr>
</tbody>
</table>
<table class="table table-striped">
    <thead>

      <tr class="tableheader">
        <th>Databases</th>
        <th>Level</th>
    </tr>
</thead>
<tbody>

  <tr>
    <td>Oracle</td>
    <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
</tr>
<tr>
    <td>MySQL</td>
    <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
</tr>
<tr>
    <td>MarkLogic</td>
    <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
</tr>
<tr>
    <td>MongoDB</td>
    <td><div class="level basic"></div><p1>Basic</p1></td>
</tr>
<tr>
    <td>IBM Cloudant</td>
    <td><div class="level familiar"></div><p1>Familiar</p1></td>
</tr>
</tbody>
</table>

 <table class="table table-striped">
    <thead>
      <tr class="tableheader">
         <th>Frameworks</th>
         <th>Level</th>
     </tr>
 </thead>
 <tbody>
  <tr>
  <td>Node.js Express</td>
     <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
</tr>
<tr>
    <td>Bootstrap</td>
    <td><div class="level basic"></div><p1>Basic</p1></td>
</tr>
<tr>
    <td>AngularJS</td>
    <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
</tr>
<tr>
    <td>Spring MVC</td>
  <td><div class="level basic"></div><p1>Basic</p1></td>
</tr>
</tbody>
</table>

</div>
<div class="col-lg-5 col-lg-offset-1 col-sm-6">

 
<table class="table table-striped">
    <thead>
      <tr class="tableheader">
        <th>Testing Tools</th>
        <th>Level</th>
    </tr>
</thead>
<tbody>
  <tr>
    <td>jUnit</td>
  <td><div class="level basic"></div><p1>Basic</p1></td>
</tr>
<tr>
    <td>Mocha</td>
    <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
</tr>
<tr>
    <td>Jasmine</td>
    <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
</tr>
<tr>
    <td>Protractor</td>
     <td><div class="level basic"></div><p1>Basic</p1></td>
</tr>   
<tr>
    <td>Apache JMeter</td>
     <td><div class="level basic"></div><p1>Basic</p1></td>
</tr>  
</tbody>
</table>
<table class="table table-striped">
    <thead>
      <tr class="tableheader">
        <th>Technologies</th>
        <th>Level</th>
    </tr>
</thead>
<tbody>
  <tr>
    <td>BSCS Rating & Billing System</td>
    <td><div class="level expert"></div><p1>Advanced</p1></td>
</tr>
  <tr>
    <td>RESTful Web Services</td>
     <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
</tr>
<tr>
    <td>SOAP Web Services</td>
     <td><div class="level intermediate"></div><p1>Intermediate</p1></td>
</tr>
<tr>
    <td>Android</td>
   <td><div class="level basic"></div><p1>basic</p1></td>
</tr>
</tbody>
</table>

<table class="table table-striped">
    <thead>
      <tr class="tableheader">
        <th>Tools</th>
        <th></th>
    </tr>
</thead>
<tbody>
<tr>
    <td>1.</td>
   <td>BSCS 6 & iX</td>
</tr>
  <tr>
    <td>2.</td>
    <td>Eclipse IDE</td>
</tr>
  <tr>
    <td>3.</td>
     <td>TOAD</td>
</tr>
  <tr>
    <td>4.</td>
     <td>Grunt</td>
</tr>
<tr>
    <td>5.</td>
     <td>Android SDK</td>
</tr>
</tbody>
</table>
<table class="table table-striped">
    <thead>
      <tr>
        <th class="tableheader">Operating System</th>
        <th></th>
    </tr>
</thead>
<tbody>
  <tr>
    <td>1.</td>
    <td>Windows</td>
</tr>
  <tr>
    <td>2.</td>
     <td>Unix</td>
</tr>
<tr>
    <td>3.</td>
     <td>Macintosh</td>
</tr>
<tr>
    <td>4.</td>
   <td>Android</td>
</tr>
</tbody>
</table>


</div>

</div>

</div>


